@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    body{
        scroll-behavior: smooth;
    }
    .moving{
        @apply inline-block ;
    }
    .moving:hover, .art-display:hover{
       animation-play-state: paused;
       @apply cursor-pointer;
    }
    /* .art-display{
        display: inline-block;
    } */
    .art-display::-webkit-scrollbar{
        display: none;
    }
}